<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whitecube">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Relay.ReadIrRemote"></activity>
        <activity android:name=".Relay.AddRelay" />
        <activity android:name=".Relay.EditRelay" />
        <activity android:name=".Relay.DetailRelay" />
        <activity android:name=".GantiDevice.GantiDevice" />
        <activity android:name=".PengaturanDevice.BerbagiDevice" />
        <activity android:name=".PengaturanDevice.EditLokasiDevice" />
        <activity android:name=".PengaturanDevice.EditNamaDevice" />
        <activity android:name=".PengaturanDevice.PengaturanDevice" />
        <activity android:name=".EditProfil.EditNama" />
        <activity android:name=".EditProfil.EditProfil" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".MainActivity" />
        <activity android:name=".UniquePassword" />
        <activity android:name=".CameraScan" />
        <activity android:name=".QRGenerator" />
        <activity android:name=".QRscanner" />
        <activity android:name=".MenuQRCode" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>